
  <h1>My dashboard</h1>
  <h3>Here is a glance at your ideal content creators</h3>


<!-- 3 buttons : my stories, my matches, my requests -->

<a class="btn btn-ghost" href="#">My stories</a>
<a class="btn btn-ghost" href="#">My matches</a>
<a class="btn btn-ghost" href="#">My requests</a>

<!-- 3 cards avec stories, matches and requests -->
